@import './sprites.scss';
@import './variables.scss';

.App {
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .header {
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;

    span {
      background-color: $gray-dark;
      padding: 10px;
    }
  }

  .path-container {
    align-content: center;
    .path-one,
    .path-two {
      display: flex;
      flex-direction: row wrap;
      align-items: center;
      margin-bottom: 20px;
    }

    .path-name {
      width: 150px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;
    }

    .divider {
      width: 100px;
      height: 15px;
      z-index: 0;
      background-color: $gray-dark;

      &.on {
        background-color: $primary-dark;
      }
    }
  }

  .points-container {
    text-align: center;
    border: 1px solid $gray-dark;
    color: $primary-dark;
    padding: 10px 20px;

    .points {
      font-size: 20px;
      color: $white;
    }
  }
}
